{{define "title"}}New Patient{{end}}

{{define "main"}}
<h1 class="mb-4">Нов Пациент</h1>
{{if .Medications}}
<form action="/patients/create" method="POST" novalidate>
    <div class="row mb-3">
        <div class="col-3">
            <div class="input-group has-validation">
                <div class="form-floating {{if .Form.FieldErrors.ucn}}is-invalid{{end}}">
                    <input name="ucn" id="ucn" type="text"
                        class="form-control {{if .Form.FieldErrors.ucn}}is-invalid{{end}}" placeholder="ЕГН"
                        value="{{.Form.UCN}}">
                    <label for="ucn">ЕГН</label>
                </div>
                {{with .Form.FieldErrors.ucn}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}
            </div>
        </div>
        <div class="col">
            <div class="input-group has-validation">
                <div class="form-floating {{if .Form.FieldErrors.first_name}}is-invalid{{end}}">
                    <input name="first_name" id="first_name" type="text"
                        class="form-control {{if .Form.FieldErrors.first_name}}is-invalid{{end}}" placeholder="Име"
                        value="{{.Form.FirstName}}">
                    <label for="first_name">Име</label>
                </div>
                {{with .Form.FieldErrors.first_name}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}
            </div>
        </div>
        <div class="col">
            <div class="input-group has-validation">
                <div class="form-floating {{if .Form.FieldErrors.last_name}}is-invalid{{end}}">
                    <input name="last_name" id="last_name" type="text"
                        class="form-control {{if .Form.FieldErrors.last_name}}is-invalid{{end}}" placeholder="Фамилия"
                        value="{{.Form.LastName}}">
                    <label for="last_name">Фамилия</label>
                </div>
                {{with .Form.FieldErrors.last_name}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="input-group has-validation">
                <div class="form-floating {{if .Form.FieldErrors.phone_number}}is-invalid{{end}}">
                    <input name="phone_number" id="phone_number" type="text" placeholder="Номер"
                        class="form-control {{if .Form.FieldErrors.phone_number}}is-invalid{{end}}"
                        value="{{.Form.PhoneNumber}}">
                    <label for="phone_number">Номер</label>
                </div>
                {{with .Form.FieldErrors.phone_number}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}
            </div>
        </div>
        <div class="col-2">
            <div class="input-group has-validation">
                <div class="form-floating {{if .Form.FieldErrors.height}}is-invalid{{end}}">
                    <input name="height" id="height" type="number"
                        class="form-control {{if .Form.FieldErrors.height}}is-invalid{{end}}" placeholder="Ръст"
                        value="{{.Form.Height}}">
                    <label for="height">Ръст</label>
                </div>
                {{with .Form.FieldErrors.height}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}
            </div>
        </div>
        <div class="col-2">
            <div class="input-group has-validation">
                <div class="form-floating {{if .Form.FieldErrors.weight}}is-invalid{{end}}">
                    <input name="weight" id="weight" type="number"
                        class="form-control {{if .Form.FieldErrors.weight}}is-invalid{{end}}" placeholder="Тегло"
                        value="{{.Form.Weight}}">
                    <label for="weight">Тегло</label>
                </div>
                {{with .Form.FieldErrors.weight}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <select name="medication" id="medication" class="form-select">
                    {{$p := .Form.Medication}}
                    {{range .Medications}}
                    <option value="{{.Name}}" {{if eq $p .Name}}selected{{end}}>{{.Name}}</option>
                    {{end}}
                </select>
                <label for="medication">Медикамент</label>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="input-group has-validation">
                <div class="form-floating {{if .Form.FieldErrors.note}}is-invalid{{end}}">
                    <textarea name="note" id="note" class="form-control {{if .Form.FieldErrors.note}}is-invalid{{end}}"
                        placeholder="Допълнително" style="min-height: 150px;">{{.Form.Note}}</textarea>
                    <label for="note">Допълнително</label>
                </div>
                {{with .Form.FieldErrors.note}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="submit" class="btn btn-success btn-lg" value="Създай пациент">
        </div>
    </div>
</form>
{{else}}
<p>За да създадеш нов пациент първо е нужно да добавиш медикамент от <a href="/medications/">тук</a></p>
{{end}}
{{end}}