{{define "title"}}New Patient{{end}}

{{define "main"}}
<h1>Нов Пациент</h1>
<form action="/patients/create" method="POST">
    <div>
        <label for="ucn">ЕГН</label>
        <input name="ucn" id="ucn" type="text">
    </div>
    <div>
        <label for="name">Имена</label>
        <input name="name" id="name" type="text">
    </div>
    <div>
        <label for="phone_number">Номер</label>
        <input name="phone_number" id="phone_number" type="text">
    </div>
    <div>
        <label for="height">Ръст</label>
        <input name="height" id="height" type="number">
    </div>
    <div>
        <label for="weight">Тегло</label>
        <input name="weight" id="weight" type="number">
    </div>
    <div>
        <label for="note">Допълнително</label>
        <textarea name="note" id="note"></textarea>
    </div>
    <div>
        <input type="submit" value="Създай пациент">
    </div>
</form>
{{end}}