{{define "title"}}New Patient{{end}}

{{define "main"}}
    <h1>Нов Пациент</h1>
    {{if .Medications}}
        <form action="/patients/create" method="POST" novalidate>
            <div>
                <label for="ucn">ЕГН</label>
                {{with .Form.FieldErrors.ucn}}
                    <label for="ucn" class="error">{{.}}</label>
                {{end}}
                <input name="ucn" id="ucn" type="text" value="{{.Form.UCN}}">
            </div>
            <div>
                <label for="name">Имена</label>
                {{with .Form.FieldErrors.name}}
                    <label for="name" class="error">{{.}}</label>
                {{end}}
                <input name="name" id="name" type="text" value="{{.Form.Name}}">
            </div>
            <div>
                <label for="phone_number">Номер</label>
                {{with .Form.FieldErrors.phone_number}}
                    <label for="phone_number" class="error">{{.}}</label>
                {{end}}
                <input name="phone_number" id="phone_number" type="text" value="{{.Form.PhoneNumber}}">
            </div>
            <div>
                <label for="height">Ръст</label>
                {{with .Form.FieldErrors.height}}
                    <label for="height" class="error">{{.}}</label>
                {{end}}
                <input name="height" id="height" type="number" value="{{.Form.Height}}">
            </div>
            <div>
                <label for="weight">Тегло</label>
                {{with .Form.FieldErrors.weight}}
                    <label for="weight" class="error">{{.}}</label>
                {{end}}
                <input name="weight" id="weight" type="number" value="{{.Form.Weight}}">
            </div>
            <div>
                <label for="medication">Медикамент</label>
                <select name="medication" id="medication">
                    {{$p := .Form.Medication}}
                    {{range .Medications}}
                       <option value="{{.Name}}" {{if eq $p .Name}}selected{{end}}>{{.Name}}</option>
                    {{end}}
                </select>
            </div>
            <div>
                <label for="note">Допълнително</label>
                {{with .Form.FieldErrors.note}}
                    <label for="note" class="error">{{.}}</label>
                {{end}}
                <textarea name="note" id="note">{{.Form.Note}}</textarea>
            </div>
            <div>
                <input type="submit" value="Създай пациент">
            </div>
        </form>
    {{else}}
        <p>Няма добавени медикаменти</p>
    {{end}}
{{end}}