{{define "title"}}Home{{end}}

{{define "main"}}
<h1 class="mb-4">Latest Patients</h1>
{{if .IsAuthenticated}}
{{if .Patients}}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Medication</th>
            </tr>
        </thead>
        <tbody>
            {{range .Patients}}
            <tr>
                <td scope="col"><a href="/patients/{{.ID}}">{{.FirstName}} {{.LastName}}</a></td>
                <td scope="col"><a href="tel:0{{.PhoneNumber}}">{{.PhoneNumber}}</a></td>
                <td scope="col">{{.Medication}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{else}}
<p>Currently there are no patients, you can create a new one <a href="/patients/create">here</a></p>
{{end}}
{{else}}
<p class="lead">In order to gain access to the system, first you have to <a href="/users/register">register</a>. If you
    already have an account, please <a href="/users/login">login</a> instead.</p>
{{end}}
{{end}}