{{define "title"}}Home{{end}}

{{define "main"}}
    <h1>Последно добавени пациенти</h1>
    {{if .Patients}}
    <table>
        <tr>
            <th>Име</th>
            <th>Номер</th>
            <th>Медикамент</th>
        </tr>
        {{range .Patients}}
        <tr>
            <td><a href="/patients/{{.ID}}">{{.Name}}</a></td>
            <td><a href="tel:0{{.PhoneNumber}}">{{.PhoneNumber}}</a></td>
            <td>{{.Medication}}</td>
        </tr>
        {{end}}
    </table>
    {{end}}
{{end}}