{{define "title"}}All Patients{{end}}

{{define "main"}}
    <h1 class="mb-4">Всички Пациенти</h1>
    {{if .Patients}}
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col">ЕГН</th>
                        <th scope="col">Имена</th>
                        <th scope="col">Номер</th>
                        <th scope="col">Ръст</th>
                        <th scope="col">Тегло</th>
                        <th scope="col">Медикамент</th>
                        <th scope="col">Одобрен</th>
                        <th scope="col">ПП</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Patients}}
                    <tr>
                        <td scope="col">{{.UCN}}</td>
                        <td scope="col"><a href="/patients/{{.ID}}">{{.FirstName}} {{.LastName}}</a></td>
                        <td scope="col"><a href="tel:0{{.PhoneNumber}}">{{.PhoneNumber}}</a></td>
                        <td scope="col">{{.Height}}</td>
                        <td scope="col">{{.Weight}}</td>
                        <td scope="col"><a href="/patients/medication/{{.Medication}}">{{.Medication}}</a></td>
                        <td scope="col"><input type="checkbox" class="form-check-input" disabled {{if .Approved}}checked{{end}}></td>
                        <td scope="col"><input type="checkbox" class="form-check-input" disabled {{if .FirstContinuation}}checked{{end}}></td>
                        <td scope="col">
                            <form action="/patients/delete" method="POST">
                                <input type="hidden" name="id" value="{{.ID}}">
                                <input type="submit" class="btn btn-danger" value="Изтрий">
                            </form>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    {{else}}
        <p>В момента няма пациенти, добави нов от <a href="/patients/create">тук</a></p>
    {{end}}
{{end}}