{{define "title"}}Medications{{end}}

{{define "main"}}
<h1 class="mb-4">Medications</h1>
{{$csrf := .CSRFField}}
<form class="row align-items-center mb-3" action="/medications/" method="POST" novalidate>
    {{$csrf}}
    <div class="col-5">
        <div class="input-group has-validation">
            <div class="form-floating {{if .Form.FormErrors.name}}is-invalid{{end}}">
                <input type="text" name="name" id="name"
                    class="form-control {{if .Form.FormErrors.name}}is-invalid{{end}}" placeholder="New Medication">
                <label for="name">New Medication</label>
            </div>
            {{with .Form.FormErrors.name}}
            <div class="invalid-feedback">{{.}}</div>
            {{end}}
        </div>
    </div>
    <div class="col {{if.Form.FormErrors.name}}mb-4{{end}}">
        <input type="submit" class="btn btn-outline-success btn-lg" value="Add">
    </div>
    </div>
</form>
{{if .Medications}}
{{$userId := .UserId}}
<ul class="list-group list-group-flush" style="max-width: 500px;">
    {{range .Medications}}
    <a class="list-group-item list-group-item-action list-group-item-light d-flex align-items-center justify-content-between"
        href="/patients/medication/{{.Name}}"><span>{{.Name}}</span>
        {{if eq .UserId $userId}}
        <form action="/medications/delete" method="POST">
            {{$csrf}}
            <input type="hidden" name="name" value="{{.Name}}">
            <input type="hidden" name="user_id" value="{{.UserId}}">
            <input type="submit" class="btn btn-danger" value="Delete">
        </form>
        {{end}}
    </a>
    {{end}}
</ul>
{{end}}
{{end}}