{{define "title"}}Medications{{end}}

{{define "main"}}
    <h1>Медикаменти</h1>
    <form action="/medications/" method="POST" novalidate>
        <div>
            <label for="name">Нов медикамент</label>
            {{with .Form.FieldErrors.name}}
                <label for="name" class="error">{{.}}</label>
            {{end}}
            <input type="text" name="name" id="name">
        </div>
        <div>
            <input type="submit" value="Добави">
        </div>
    </form>
    {{if .Medications}}
    <ul class="list-group">
        {{range .Medications}}
        <li class="list-group-item d-flex">
            <a class="list-group-item list-group-item-action list-group-item-light" href="/patients/medication/{{.Name}}">{{.Name}}</a>
            <form action="/medications/delete" method="POST">
                <input type="hidden" name="name" value="{{.Name}}">
                <input type="submit" class="btn btn-danger" value="Изтрий">
            </form>
        </li>

        {{end}}
    </ul>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Наименование</th>
                <th scope="col"></th>
            </tr>        
        </thead>
        <tbody>
            {{range .Medications}}
            <tr>
                <td scope="col"><a class="h4" href="/patients/medication/{{.Name}}">{{.Name}}</a></td>
                <td scope="col">
                    <form action="/medications/delete" method="POST">
                        <input type="hidden" name="name" value="{{.Name}}">
                        <input type="submit" class="btn btn-danger" value="Изтрий">
                    </form>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{end}}
{{end}}