{{define "title"}}Patient #{{.Patient.ID}}{{end}}

{{define "main"}}
    {{with .Patient}}
    <h1>Пациент: {{.Name}}</h1>
    <form action="/patients/{{.ID}}" method="POST">
        <div>
            <label for="ucn">ЕГН</label>
            <input name="ucn" id="ucn" type="text" value="{{.UCN}}">
        </div>
        <div>
            <label for="name">Имена</label>
            <input name="name" id="name" type="text" value="{{.Name}}">
        </div>
        <div>
            <label for="phone_number">Номер</label>
            <input name="phone_number" id="phone_number" type="text" value="{{.PhoneNumber}}">
        </div>
        <div>
            <label for="height">Ръст</label>
            <input name="height" id="height" type="number" value="{{.Height}}">
        </div>
        <div>
            <label for="weight">Тегло</label>
            <input name="weight" id="weight" type="number" value="{{.Weight}}">
        </div>
        <div>
            <label for="medication">Медикамент</label>
            <input name="medication" id="medication" type="text" value="{{.Medication}}">
        </div>
        <div>
            <fieldset>
                <legend>Потвърден</legend>
                <div>
                    <label>
                        <input name="approved" type="radio" value="true" {{if .Approved}}checked{{end}}> Да
                    </label>
                </div>
                <div>
                    <label>
                        <input name="approved" type="radio" value="false" {{if not .Approved}}checked{{end}}> Не
                    </label>
                </div>
            </fieldset>
        </div>
        <div>
            <fieldset>
                <legend>Първо продължение</legend>
                <div>
                    <label>
                        <input name="first_continuation" type="radio" value="true" {{if .FirstContinuation}}checked{{end}}> Да
                    </label>
    
                </div>
                <div>
                    <label>
                        <input name="first_continuation" type="radio" value="false" {{if not .FirstContinuation}}checked{{end}}> Не
                    </label>
                </div>
            </fieldset>
        </div>
        <div>
            <label for="note">Допълнително</label>
            <textarea name="note" id="note">{{.Note}}</textarea>
        </div>
        <div>
            <input type="submit" value="Запази">
        </div>
    </form> 
    {{end}}
{{end}}