{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{template "title" .}} | P-System</title>
</head>
<body>
    <header>
        {{template "nav" .}}
    </header>
    <main>
        {{with .Flash}}
            <p class="flash">{{.}}</p>
        {{end}}
        {{template "main" .}}
    </main>
    <footer>
        Developed with <a href="https://go.dev/">Go</a> | {{.CurrentYear}}
    </footer>
</body>
</html>
{{end}}