* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
}

header,  main, footer {
    padding: 0.5rem calc((100% - 800px) / 2);
}

nav {
    display: flex;
    align-items: center;
    gap: 6px;
}

nav > form {
    margin-left: auto;
}

div > label {
    display: block;
}

.error {
    color: red;
}

.error + input, .error + textarea {
    border: 2px solid red;
}

.flash {
    background-color: lightgoldenrodyellow;
    padding: 10px 16px;
    font-size: 1.25rem;
    color: midnightblue;
    text-align: center;
}